* {
	margin: 0;
	padding: 0; 
}

@font-face {
    font-family: encode-sans;
    src: url(EncodeSans-Bold.otf);
}

canvas {
	width: 100vw;
	height: 100vh;
    background: url('PurpleBg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*#custom-logo {
    position: absolute;
    left: 27%;
    top: 10%;

    background-image: url('Loading Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 45%;
    height: 45%;
    max-width: 100%;
    max-height: 100%;

    margin-right: 100px;
    color: #3d3d3d00;
}*/

#custom-loader {

    position: absolute;
    left: 27%;
    bottom: 30%;

    width: 45%;
    height: 20%;
    max-width: 100%;
    max-height: 100%;
    background: #fcfcfc00;
    border-radius: 5px;
}

#custom-loader .fill {
    width: 100%;
    height: 100%;
    background: #ff822800;
    border-radius: 5px;
}

#custom-loader .label {
    position: relative;
    top: -40px;
    font-size: 700%;
    text-align: center;
    font-family: thicker-black;
    color: #ffffff;
}
